<% @containers.each do |container| %>

    <div class="card container-card">
      <div class="card-header">
        <span>ID: <%= container.short_id %></span>

        <div class="switch pull-right">
          <input
          type="checkbox"
          id="<%= container.container_id %>"

          data-id="<%= container.id %>"
          data-container_id="<%= container.container_id %>"
          />
          <label for="<%= container.container_id %>"></label>
        </div>


      </div>
      <div class="card-body">
        <div class="row">

          <ul class="list-group list-group-flush col-12 col-md-8">
            <li class="list-group-item">
              <%= t("addr") %>:
              <code class="pull-right"><%= container.host %></code>
            </li>

            <li class="list-group-item">
              <%= t("port") %>:
              <code class="pull-right"><%= container.port %></code>
            </li>

            <li class="list-group-item">
              <%= t("encryption") %>:
              <code class="pull-right"><%= container.encryption %></code>
            </li>

            <li class="list-group-item">
              <%= t("password") %>:
              <code class="pull-right"><%= container.password %></code>
            </li>
          </ul>

          <div class="qr col-8 offset-2 col-md-4 offset-md-0"><img src="/qr?str=<%= container.qr_url %>"></div>

        </div>
      </div>
    </div>

    <div class="w-100"></div>

    <% if container.running? %>
        <script>
            // default closed: none of checked
            $("input#<%= container.container_id %>").addClass("checked");
        </script>
    <% end %>

<% end %>


<script>
    // container card switch
    $(".switch input").click(function () {
        var container_id = $(this).data("container_id");
        var id = $(this).data("id");
        console.debug("container_id", container_id);
        console.debug("id", id);

        if ($(this).hasClass("disabled")) {
            console.debug("switch input is disabled.");
            return false;
        }

        var ajax_options = {
            type: "POST",
            async: true,
            url: "/containers/switch.js",
            data: {
                "container_id": container_id,
                "id": id
            },
            dataType: "script",
        };


        if ($(this).hasClass("checked")) {
            console.debug("turn off");
            $(this).removeClass("checked");
            ajax_options['data']['turn'] = 'off';

        } else {
            console.debug("turn on");
            $(this).addClass("checked");
            ajax_options['data']['turn'] = 'on';
        }

        console.debug('ajax_options', ajax_options);
        $.ajax(ajax_options);

        // remove disable when callback
        $(this).addClass("disabled");
    });
</script>