<% @containers.each do |container| %>

    <div class="card container-card" id="card-<%= container.container_hash %>">
      <div class="card-header">
        <span>ID: <%= container.short_id %></span>

        <div class="switch pull-right">
          <input
          type="checkbox"
          id="<%= container.container_hash %>"

          data-id="<%= container.id %>"
          data-container_hash="<%= container.container_hash %>"
          />
          <label for="<%= container.container_hash %>"></label>
        </div>


      </div>
      <div class="card-body">
        <div class="row">

          <ul class="list-group list-group-flush col-12 col-md-8">
            <li class="list-group-item">
              <%= t("addr") %>:
              <code class="pull-right"><%= container.host %></code>
            </li>

            <li class="list-group-item">
              <%= t("port") %>:

              <code class="pull-right port">
                <% if container.running? %>
                    <%= container.port %>
                <% else %>
                    <%= fa_icon "question-circle" %>
                <% end %>
              </code>
            </li>

            <li class="list-group-item">
              <%= t("encryption") %>:
              <code class="pull-right"><%= container.encryption %></code>
            </li>

            <li class="list-group-item">
              <%= t("password") %>:
              <code class="pull-right"><%= container.password %></code>
            </li>
          </ul>

          <div class="qr col-8 offset-2 col-md-4 offset-md-0">
            <% if container.running? %>
                <img src="/qr?str=<%= container.qr_url %>">
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="w-100"></div>

    <% if container.running? %>
        <script>
            // default closed: none of checked
            $("input#<%= container.container_hash %>").addClass("checked");
        </script>
    <% end %>

<% end %>


<script>
    // container card switch
    $(".switch input").click(function () {
        var container_hash = $(this).data("container_hash");
        var id = $(this).data("id");
        console.debug("container_hash", container_hash);
        console.debug("id", id);

        if ($(this).hasClass("disabled")) {
            console.debug("switch input is disabled.");
            return false;
        }

        var ajax_options = {
            type: "POST",
            async: true,
            url: "/containers/switch.js",
            data: {
                "container_hash": container_hash,
                "id": id
            },
            dataType: "script",
        };


        if ($(this).hasClass("checked")) {
            console.debug("turn off");
            $(this).removeClass("checked");//switch btn
            $("#card-" + container_hash + " code.port").html("<%= j fa_icon "question-circle" %>");// port => ?
            $("#card-" + container_hash + " div.qr").empty();// empty qr img
            ajax_options['data']['turn'] = 'off';

        } else {
            console.debug("turn on");
            $(this).addClass("checked");//switch btn
            ajax_options['data']['turn'] = 'on';
        }

        console.debug('ajax_options', ajax_options);
        $.ajax(ajax_options);

        // avoid double click switch btn
        // remove disable when callback
        $(this).addClass("disabled");
    });
</script>