<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>Secretube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
</head>
<body id="welcome_page">

<div class="header"></div>

<div class="topbar">
  <a href="/" class="home_btn">Secretube</a>
  <a href="/login" class="login_btn"><%= t("login") %></a>
</div>
<div class="placeholder"></div>
<div class="slogan">
  <h2><%= t(".slogan_h2") %></h2>

  <p><%= t(".slogan_p1") %></p>
  <p><%= t(".slogan_p2") %></p>
  <p><%= t(".slogan_p3") %></p>

  <a href="#" class="register_btn"><%= t(".create_account") %></a>
</div>

<div class="demo-show">
  <%= image_tag("welcome/safari.png", class: "demo-safari") %>
  <%= image_tag("welcome/iphone.png", class: "demo-iphone") %>
  <%= image_tag("welcome/ipad.png", class: "demo-ipad") %>
</div>


</body>
</html>