<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Secretube</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag("logo.png") %>
</head>

<body>
<% flash.each do |message_type, message| %>
    <div class="flash-alert alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= yield %>
</body>
</html>
